<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Feels on Demand</h1>

	<p class="about">
     For days when you feel like you haven't made any progress or you've been sitting in the Leadnow general inbox feeling like every other email in response to your latest campaign is another curse-word laden rotten tomato thrown at you, this site was built as a tool to remind the core team that for every mean email, there's probably 10 nicer emails and community feels to combat that negativity.
  </p>
  <br />
  <p>Have you read a nice email lately? Seen a top Facebook comment that made your day? Talked to energized volunteers? Heard something heartwarming in the field?
  <h2>Click on 'Contribute' now to add your feels and share the love!</h2>
  <br />

 <p>P.s. Please do not share any names or sensitive information on this site. From your friendly neighbourhood Ops Manager, Danielle</p>
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />

</div>